html, body {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

body {
    min-width: 100%;
    min-height: 100%;
    font-size: 62.5%;
}

.profil {
    background-color: #bfbfbf;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/*.profil {
    background-color: #bfbfbf;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}*/



.profil2 {
    background-color: #A7B9B6;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: -55%;
    visibility: hidden;
}

[class*="profil"]:hover {
    box-shadow: 1px 1px 12px #071E1B;
}

.profil3 {
    background-color: #A7B9B6;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -40%;
    left: -30%;
    visibility: hidden;
}
.profil3-bis {
    background-color: #A7B9B6;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -60%;
    left: 25%;
    visibility: hidden;
}

.profil4 {
    background-color: #A7B9B6;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -40%;
    left: 80%;
    visibility: hidden;
}

.profil5 {
    background-color: #A7B9B6;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 105%;
    visibility: hidden;
}

.display {
    visibility: visible;
}

.presentation-equipe {
  text-align: center;
  vertical-align: middle;
  color: black;
}

.left {
  position: absolute;
  left: -30px;
  top: 50px;
}
.right {
  position: absolute;
  left: 100px;
  top: 50px;
}
