h1 {
  font-size: 60px;
  text-align: center;
}
.jerome {
padding-top: 100px;
padding-left: 400px;
}
.abdel {
   margin-top: -130px;
    padding-left: 100px;
}
.nadege {
  margin-top: -130px;
  padding-left: 200px;
}
.adel {
  margin-top: -190px;
  padding-left: 700px;
}
.amhed {
  margin-top: -130px;
  padding-left: 700px;
}
.presentation {
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
}
